---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import MarkdownLayout from "~/layouts/MarkdownLayout.astro";

const title = "Projekte";

const { id } = Astro.params;

const currentPath = Astro.url.pathname;
const entries = await getCollection("projects", ({ slug }) => {
  if (id) {
    return slug.startsWith(`${id}/`);
  } else {
    return !slug.startsWith("en/");
  }
});

const tabs = [
  { label: "All", href: "/projekte" },
  {
    label: "Mobilität",
    href: "/projekte/mobilitaet",
  },
  {
    label: "Infrastruktur",
    href: "/projekte/infrastruktur",
  },
  {
    label: "Umwelt",
    href: "/projekte/umwelt",
  },
  {
    label: "Wasser",
    href: "/projekte/wasser",
  },
  {
    label: "Digitalisierung",
    href: "/projekte/digitalisierung",
  },
  {
    label: "Sicherheit & Gesundheit",
    href: "/projekte/sicherheit-gesundheit",
  },
];
---

<MarkdownLayout title={title}>
  <h1>{title}</h1>
  <p>
    LEHNE ing. hat in den letzten Jahren und Jahrzehnten zahlreiche Projekte in
    den Bereichen Mobilität, Infrastruktur, Umwelt, und Wasser realisiert. Eine
    kleine Sammlung ausgewählter Projekte findet sich hier.
  </p>
  <div class="flex gap-2 my-8 items-center justify-center">
    {
      tabs.map(({ label, href }) => (
        <a
          href={href}
          class:list={[
            "p-4 font-medium",
            { "bg-primary text-white": href === currentPath },
          ]}
        >
          {label}
        </a>
      ))
    }
  </div>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4vmin">
    {
      entries.map(({ data, slug }) => (
        <a href={`/${slug}`} class="card">
          {data.images?.[0] && (
            <Image class="background" src={data.images?.[0]} alt="" />
          )}
          <div class="text-white text-lg drop-shadow-lg">{data.title}</div>
        </a>
      ))
    }
  </div>
</MarkdownLayout>

<style>
  .card {
    position: relative;
    display: grid;
    place-content: center;
    aspect-ratio: 1/1;
    text-align: center;
    overflow: clip;
    background-color: black;
    padding: 1vmin;
    border-radius: 1rem;
    @apply shadow-lg;
  }

  .background {
    opacity: 0.6;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: scale 1s;
  }

  .card:hover .background {
    scale: 1.2;
  }
</style>
