---
import { Image } from "astro:assets";
import Video from "~/assets/bgVideo.mp4";
import BaseLayout from "~/layouts/BaseLayout.astro";

const title = "LEHNE Ing - Civil engineering based in Hamburg";
const description =
  "LEHNE Ing. is your partner for planning, consulting and construction management in the areas mobility, infrastructure, water and environment.";
const permalink = Astro.site?.href;

import { homeLinksEN } from "~/data/home";
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <video src={Video} class="h-screen w-screen object-cover" autoplay muted loop
  ></video>

  <div
    class="grid sm:grid-cols-2 md:grid-cols-3 p-5vmin gap-4vmin max-w-1024px mx-auto w-full"
  >
    <>
      {
        homeLinksEN.map(({ label, href, thumbnail, subtitle }) => {
          if (!thumbnail) {
            return null;
          }

          return (
            <a href={href} class="card">
              <Image class="background" src={thumbnail} alt={label} />
              <div class="label">{label}</div>
              <div class="subtitle">{subtitle}</div>
            </a>
          );
        })
      }
    </>
  </div>
</BaseLayout>

<style>
  .label {
    @apply text-white text-2xl font-medium drop-shadow-lg;
  }

  .subtitle {
    translate: -40%;
    opacity: 0;
    transition: 1s;
    color: white;
    margin-top: 0.5rem;
  }

  .card {
    position: relative;
    display: grid;
    place-content: center;
    aspect-ratio: 1/1;
    text-align: center;
    overflow: clip;
    background-color: black;
    padding: 1vmin;
    border-radius: 1rem;
    @apply shadow-lg;
  }

  .background {
    opacity: 0.6;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: scale 1s;
  }

  .card:hover .background {
    scale: 1.2;
  }

  .card:hover .subtitle {
    translate: 0%;
    opacity: 1;
  }
</style>
