---
import { Image } from "astro:assets";
import Video from "~/assets/bgVideo.mp4";
import BaseLayout from "~/layouts/BaseLayout.astro";

const title = "LEHNE Ing - Planung Beratung Bauleitung";
const description =
  "LEHNE ing. ist Ihr Partner für Planung, Beratung und Bauleitung in den Bereichen Verkehr, Infrastruktur, Umwelt, Wasser und Digitalisierung.";
const permalink = Astro.site?.href;

import { homeLinksDE } from "~/data/home";
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <video src={Video} class="w-screen object-cover" autoplay muted loop></video>

  <div
    class="grid sm:grid-cols-2 md:grid-cols-3 p-5vmin gap-4vmin max-w-1024px mx-auto w-full"
  >
    <>
      {
        homeLinksDE.map(({ label, href, thumbnail, subtitle }) => {
          if (!thumbnail) {
            return null;
          }

          return (
            <a href={href} class="card">
              <Image class="background" src={thumbnail} alt={label} />
              <div class="label">{label}</div>
              <div class="subtitle">{subtitle}</div>
            </a>
          );
        })
      }
    </>
  </div>
</BaseLayout>

<style>
  .label {
    @apply text-white text-2xl font-medium drop-shadow-lg;
  }

  .subtitle {
    translate: -40%;
    opacity: 0;
    transition: 1s;
    color: white;
    margin-top: 0.5rem;
  }

  .card:hover .subtitle {
    translate: 0%;
    opacity: 1;
  }
</style>
