---
import { Image } from "astro:assets";
import Logo from "~/assets/Logo.png";
import DropDown from "./DropDown.astro";
import ThemeToggleButton from "./ThemeToggleButton.svelte";
import { links } from "~/data/links";
import { Icon } from "astro-icon/components";
import { getLangFromUrl } from "~/utils/lang";
const lang = getLangFromUrl(Astro.url);
---

<header
  x-data="{showMenu: false}"
  class="flex items-center gap-4 z-10 bg-primary/20 justify-between h-12vmin px-4vmin sticky top-0"
>
  <a href={Astro.currentLocale === "en" ? "/en" : "/"}>
    <Image src={Logo} alt="" class="w-15vmax rounded-none" />
  </a>

  <nav class="nav-desktop">
    {
      links[lang].map((link) => {
        if (link.items) {
          return <DropDown {...link} />;
        } else {
          return (
            <a class="link" href={link.href}>
              {link.thumbnail ? (
                <Image
                  src={link.thumbnail}
                  alt={link.label}
                  class="w-8 h-8 rounded-none"
                />
              ) : (
                link.label
              )}
            </a>
          );
        }
      })
    }
    <ThemeToggleButton client:load />
    {
      lang === "en" ? (
        <a href="/" class="text-xl">
          <Icon name="emojione:flag-for-germany" class="w6 h6" />
        </a>
      ) : (
        <a href="/en" class="text-xl">
          <Icon name="emojione:flag-for-united-kingdom" class="w6 h6" />
        </a>
      )
    }
  </nav>

  <button class="hamburger" @click="showMenu = !showMenu">
    <Icon class="w-8 h-8 c-white" name="mdi:menu" />
  </button>

  <nav
    x-cloak
    x-show="showMenu"
    x-transition:enter-start="menu-close"
    x-transition:enter-end="menu-open"
    x-transition:leave-start="menu-open"
    x-transition:leave-end="menu-close"
    class="nav-mobile"
  >
    <button class="self-end" @click="showMenu = !showMenu">
      <Icon class="w-8 h-8 c-white" name="mdi:close" />
    </button>
    {
      links[lang].map((link) => {
        if (link.items) {
          return <DropDown {...link} />;
        } else {
          return (
            <a class="link" href={link.href}>
              {link.thumbnail ? (
                <Image src={link.thumbnail} alt={link.label} class="w-8 h-8" />
              ) : (
                link.label
              )}
            </a>
          );
        }
      })
    }
    <div class="flex gap-4">
      <ThemeToggleButton client:load />
      {
        lang === "en" ? (
          <a href="/" class="text-xl">
            <Icon name="emojione:flag-for-germany" class="w6 h6" />
          </a>
        ) : (
          <a href="/en" class="text-xl">
            <Icon name="emojione:flag-for-united-kingdom" class="w6 h6" />
          </a>
        )
      }
    </div>
  </nav>
</header>

<style>
  @media (min-width: 1024px) {
    .hamburger {
      display: none;
    }
  }

  .menu-close {
    translate: 100%;
  }

  .menu-open {
    translate: 0%;
  }

  .line {
    display: block;
    border-radius: 1rem;
    width: 40px;
    height: 3px;
    margin-block: 1vmin;
    background-color: white;
  }

  .nav-desktop {
    display: flex;
    color: white;
    font-family: var(--font-family-sans);
    background-color: var(--primary-color);
    align-items: center;
    gap: 4vmin;
  }

  @media (max-width: 1024px) {
    .nav-desktop {
      display: none;
    }
  }

  .nav-mobile {
    display: flex;
    color: white;
    font-family: var(--font-family-sans);
    background-color: var(--primary-color);
    align-items: center;
    gap: 4vmin;
    max-width: 300px;
    width: 100%;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    transition: translate 1s;
    padding: 4vmin;
  }
</style>
