---
import { getCollection } from "astro:content";

interface Props {
  path: string;
}

const { path } = Astro.props;

const projects = await getCollection("projects", ({ slug }) =>
  slug.startsWith(path)
);

const items = projects.flatMap(({ data, slug }) => {
  if (!data.images) {
    return [];
  }

  return [
    {
      label: data.title,
      href: `/${slug}`,
      thumbnail: data.images[0],
    },
  ];
});
---

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    new Flickity(".main-carousel", { wrapAround: true });
  });
</script>

<div class="py-4vmin">
  <div class="main-carousel w-4/5 mx-auto">
    {
      items.map(({ label, href, thumbnail }) => (
        <a {href} class="card h-60vh">
          <img class="background" src={thumbnail.src} alt={label} />
          <div class="text-white text-3vmin font-medium drop-shadow-lg">
            {label}
          </div>
        </a>
      ))
    }
  </div>
</div>
