---
import { getCollection } from "astro:content";

interface Props {
  path: string;
}

const { path } = Astro.props;

const projects = await getCollection("projects", ({ slug }) =>
  slug.startsWith(path)
);

const items = projects.flatMap(({ data, slug }) => {
  if (!data.images) {
    return [];
  }

  return [
    {
      label: data.title,
      href: `/${slug}`,
      thumbnail: data.images[0],
    },
  ];
});
---

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    new Flickity(".main-carousel", { wrapAround: true });
  });
</script>

<div class="py-4vmin">
  <div class="main-carousel w-4/5 mx-auto">
    {
      items.map(({ label, href, thumbnail }) => (
        <a {href} class="card">
          <img class="background" src={thumbnail.src} alt={label} />
          <div class="text-white text-3vmin font-medium drop-shadow-lg">
            {label}
          </div>
        </a>
      ))
    }
  </div>
</div>

<style>
  .card {
    position: relative;
    display: grid;
    place-content: center;
    aspect-ratio: 1/1;
    text-align: center;
    overflow: clip;
    background-color: black;
    padding: 1vmin;
    width: 100%;
    height: 70vh;
  }

  .background {
    opacity: 0.6;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: scale 1s;
  }

  .card:hover .background {
    scale: 1.2;
  }
</style>
